<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>it.slackware.sid77.tor</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/tor</string>
      <string>-f</string>
      <string>/var/mobile/Library/MobileTor/torrc</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>mobile</string>
    <key>GroupName</key>
    <string>mobile</string>
  </dict>
</plist>
